<h1>Quests</h1>
<%= form_for @quest do |f| %>
    <% if @quest.errors.any? %>
        <div id="error_details">
            <p>Note the following errors:</p>
            <ul>
                <% @quest.errors.full_messages.each do |m| %>
                    <li><%= m %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field<%= ' field_with_errors' if @quest.errors[:name].any? %>">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br><br>
    </div>

    <div class="field<%= ' field_with_errors' if @quest.errors[:description].any? %>">
        <%= f.label :description %><br>
        <%= f.text_field :description %><br><br>
    </div>

    <%= f.submit %>
<% end %>

<!-- AJAX for editing -->
<!--
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('form').submit(function(event) {
            console.log(window, "submit");
            event.preventDefault();
            
            var values = $(this).serialize();

            var posting = $.ajax({
                url: '/quests/<%=@id%>',
                method: 'patch',
                data: values
            });

            posting.done(function(data) {
                let quest = data;
                $('#name').val(quest['name']);
                $('#description').val(quest['description']);

                window.location = '/quests/<%=@id%>';
            });
        });
    });
</script>
-->