<h3>Quest: <%= @quest.name %></h3>
<h5>Description:</h5>
<p><%= @quest.description %></p>

<div class="container" id="owned-events">
</div>

<div id="event-form" data-quest-id="<%=@quest.id%>"></div>
<br>
<%= button_to "#{@quest.id}", { method: :get,  form_class: "event-add", params: [@quest, @event], id: @quest.id }, "/quests/#{ @quest.id }/events/new_quest_event"  do %>
    Add Event to <%= @quest.name %> 
<% end %>


<script type="text/javascript">

    getEvents(<%=@id%>, events => {
        let appendEvent = '';
        events.forEach(function(event) {
            appendEvent += event.showEventSummary();
        });
        $('#owned-events').html(appendEvent);
    });

</script>