<h1>Sign Up</h1>
<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_details">
            <p>Note the following errors:</p>
            <ul>
                <% @user.errors.full_messages.each do |m| %>
                    <li><%= m %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field<%= 'field_with_errors' if @user.errors[:name].any? %>">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br><br>
    </div>

    <div class="field<%= 'field_with_errors' if @user.errors[:email].any? %>">
        <%= f.label :email %><br>
        <%= f.text_field :email %><br><br>
    </div>

    <div class="field<%= 'field_with_errors' if @user.errors[:password].any? %>">
        <%= f.label :password %><br>
        <%= f.text_field :password %><br><br>
    </div>

    <%= f.submit 'Create User' %>

    <p><%= link_to('Log in with Twitch', '/auth/twitch/') %></p>
<% end %>