
    <div class="event_param">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br><br>
    </div>

    <div class="event_param">
        <%= f.label :description %><br>
        <%= f.text_field :description %><br><br>
    </div>

    <div class="event_param">
        <%= f.label :combat %><br>
        <%= f.check_box :combat %><br><br>
    </div>

    <div class="event_param">
        <%= f.label :social %><br>
        <%= f.check_box :social %><br><br>
    </div>

    <div class="event_param">
        <%= f.label :search %><br>
        <%= f.check_box :search %><br><br>
    </div>

    <%= f.hidden_field :quest_id %>

    <%= f.submit %>