<div class="container">
    <% @events.each do |e| %>
        <% quest = find_quest(e) %> 
        <div class="d-inline-flex align-content-start flex-wrap">
            <ul>
                <li>Name: <%= e.name %></li>
                <li>Name: <%= link_to "#{e.name}", quest_event_path(quest.id, e.id) %></li>
                <li>Quest: <%= link_to "#{quest.name}", quest_path(quest) %></li>
                <%# need quest and event object ids %>
                <%# how do we make this condense? %>
                <%# e.quest.name <%= link_to 'e.quest.name', @e.quest.name %>
                <li>Description: <%= e.description %></li>
                <li>Combat?
                    <% if e.combat? %>
                        <p>Yes</p>
                    <% else %>
                        <p>No</p>
                    <% end %>
                </li>
                <li>Social?
                    <% if e.social? %>
                        <p>Yes</p>
                    <% else %>
                        <p>No</p>
                    <% end %>
                </li>
                <li>Search?
                    <% if e.search? %>
                        <p>Yes</p>
                    <% else %>
                        <p>No</p>
                    <% end %>
                </li>
            </ul>
        </div>
    <% end %>
</div>

<p><%#<%= link_to "Add Event", new_quest_event_path(@quest) %></p>
<p><%#<%= link_to "Back to #{@quest.name}", quest_path(@quest.id) %></p>